<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dengage.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>
        <activity
            android:name=".ui.test.DengageTestActivity"
            android:exported="false"
            android:theme="@style/Theme.DengageAndroid" />
        <activity
            android:name=".ui.test.DengageTestInAppActivity"
            android:exported="false"
            android:theme="@style/Theme.DengageAndroid" />
        <activity
            android:name=".ui.test.DengageTestPushActivity"
            android:exported="false"
            android:theme="@style/Theme.DengageAndroid" />
        <activity
            android:name=".ui.test.DengageTestDeviceInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.DengageAndroid" />
        <activity
            android:name=".ui.test.DengageTestDeviceCacheActivity"
            android:exported="false"
            android:theme="@style/Theme.DengageAndroid" />
        <activity
            android:name=".ui.test.DengageFetchTimeResetTestActivity"
            android:exported="false"
            android:theme="@style/Theme.DengageAndroid" />
        <activity
            android:name=".ui.test.DengageTestShowLogsActivity"
            android:exported="false"
            android:theme="@style/Theme.DengageAndroid" />
        <activity
            android:name=".ui.inappmessage.InAppMessageActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity android:name=".ui.inappmessage.InAppBrowserActivity"
            android:theme="@style/BrowserTheme.NoActionBar"/>
        <activity
            android:name=".ui.story.StoryActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".push.NotificationNavigationDeciderActivity"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:launchMode="singleTask"
            android:exported="false" />

        <receiver android:name=".push.NotificationDismissReceiver" />


    </application>

</manifest>